@charset "UTF-8";
@media all and (max-width: 640px) {
  .board {
    width: 330px;
    height: 270px;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
  }
  .board .board_title {
    font-size: 18px;
    line-height: 21px;
  }
  .board .board_list {
    width: 420px;
  }
  .board .board_item + .board_item .button_box:before {
    top: 13px;
  }
  .board .board_open {
    height: 30px;
    margin-top: 0;
    font-size: 13px;
    line-height: 30px;
  }
  .board .board_item.active .board_open {
    font-size: 13px;
  }
  .board .board_panel {
    margin-top: 70px;
  }
  .board .basic_anchor .basic_new {
    top: 12px;
    right: 12px;
    width: 15px;
    height: 15px;
    background-size: 15px auto;
  }
  .board .basic_anchor {
    height: 133px;
    padding: 10px 12px;
    border-radius: 10px;
  }
  .board .basic_tag {
    margin-bottom: 5px;
    font-size: 11px;
  }
  .board .basic_subject {
    max-height: 40px;
    font-size: 13px;
    line-height: 20px;
  }
  .board .basic_date {
    left: 12px;
    bottom: 20px;
    font-size: 12px;
  }
  .board .board_control {
    top: 215px;
    height: 25px;
    padding-right: 18px;
    padding-left: 18px;
    border-radius: 13px;
    background-color: #fff;
    text-align: left;
    line-height: 25px;
  }
  .board .board_count {
    font-size: 13px;
  }
  .board .board_next,
  .board .board_prev {
    display: none;
  }
  .board .board_more {
    top: 0;
    right: 18px;
    width: auto;
    height: 25px;
    padding-right: 16px;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    color: #8a8e9a;
    font-size: 12px;
    font-weight: 300;
    line-height: 25px;
  }
  .board .board_more:before {
    left: auto;
    width: 10px;
    height: 10px;
    background-size: 20px auto;
  }
}

.shortcut1 {
  position: absolute;
  top: 0;
  left: -30px;
  width: 560px;
}

.shortcut1 .shortcut_list {
  padding-top: 65px;
}

.shortcut1 .shortcut_item {
  position: relative;
  float: left;
  width: 25%;
  text-align: center;
}

.shortcut1 .shortcut_item a {
  display: block;
  padding-top: 125px;
}

.shortcut1 .shortcut_item a:after,
.shortcut1 .shortcut_item a:before {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
}

.shortcut1 .shortcut_item a:before {
  top: 10px;
  width: 90px;
  height: 90px;
  overflow: hidden;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(13, 36, 78, 0.15);
}

.shortcut1 .shortcut_item a:hover:before {
  box-shadow: 0 0 25px 0 rgba(13, 36, 78, 0.25);
}

.shortcut1 .shortcut_item a:after {
  top: 33px;
  width: 44px;
  height: 44px;
  background-image: url("../img/icon/shortcut_sprite.png");
  background-repeat: no-repeat;
  transition-property: none;
}

.shortcut1 .shortcut_item a:hover:after {
  transform: rotateY(360deg);
}

.shortcut1 .shortcut_item.n1 a:after {
  background-position: left top;
}

.shortcut1 .shortcut_item.n2 a:after {
  background-position: left 33.33%;
}

.shortcut1 .shortcut_item.n3 a:after {
  background-position: left 66.66%;
}

.shortcut1 .shortcut_item.n4 a:after {
  background-position: left 100%;
}

.shortcut1 .shortcut_item a span {
  color: #1a1a1a;
  font-size: 16px;
  font-weight: bold;
}

@media all and (max-width: 1400px) {
  .shortcut1 {
    left: 20px;
    width: 300px;
    margin-top: -20px;
  }
  .shortcut1 .shortcut_list {
    padding-top: 0;
  }
  .shortcut1 .shortcut_item {
    width: 50%;
  }
  .shortcut1 .shortcut_item a {
    padding-top: 110px;
    padding-bottom: 10px;
  }
}

@media all and (max-width: 1200px) {
  .shortcut1 {
    width: 260px;
  }
}

@media all and (max-width: 1000px) {
  .shortcut1 {
    left: 2%;
    width: 210px;
    margin-top: 0;
  }
  .shortcut1 .shortcut_item a {
    padding-top: 77px;
  }
  .shortcut1 .shortcut_item a:before {
    width: 60px;
    height: 60px;
    border-radius: 20px;
  }
  .shortcut1 .shortcut_item a:after {
    top: 23px;
    width: 34px;
    height: 34px;
    background-size: 34px auto;
  }
  .shortcut1 .shortcut_item a span {
    font-size: 14px;
  }
}

@media all and (max-width: 800px) {
  .shortcut1 {
    position: relative;
    left: auto;
    float: left;
    width: 68%;
    padding-top: 45px;
  }
  .shortcut1 .shortcut_item {
    width: 25%;
  }
}

@media all and (max-width: 640px) {
  .shortcut1 {
    width: 52%;
    padding-top: 0;
  }
  .shortcut1 .shortcut_item {
    width: 50%;
  }
  .shortcut1 .shortcut_item a {
    padding-top: 62px;
    padding-bottom: 5px;
  }
  .shortcut1 .shortcut_item a:before {
    width: 50px;
    height: 50px;
    border-radius: 10px;
  }
  .shortcut1 .shortcut_item a:after {
    top: 20px;
    width: 30px;
    height: 30px;
    background-size: 30px auto;
  }
  .shortcut1 .shortcut_item a span {
    font-size: 13px;
  }
}

/* 브랜드 */
.brand {
  padding-right: 10px;
  padding-left: 40px;
  text-align: center;
}

.brand .brand_link {
  display: block;
  background: url("../img/main/brand_bg.png") no-repeat center 25px;
}

.brand .brand_character {
  position: relative;
  width: 105px;
  height: 160px;
  background-image: url("../img/icon/brand_charactor_sprite.png");
  background-repeat: no-repeat;
  background-position: left top;
}

.brand:hover .brand_character {
  animation: moveCharacter 0.25s steps(1) infinite;
}

.brand .brand_character:before {
  display: block;
  position: absolute;
  top: -15px;
  right: -55px;
  width: 67px;
  height: 67px;
  background-image: url("../img/main/brand_charactor_before.png");
  background-repeat: no-repeat;
  content: '어서오세요';
  font-size: 0;
}

.brand .brand_title {
  display: block;
  margin-top: 25px;
  color: #ec5447;
  font-size: 22px;
  line-height: 27px;
}

.brand .brand_title:after {
  display: inline-block;
  width: 37px;
  height: 9px;
  margin-left: 10px;
  background: url("../img/main/brand_title.png") no-repeat;
}

@media all and (max-width: 1400px) {
  .brand {
    padding-left: 10px;
  }
}

@media all and (max-width: 1000px) {
  .brand {
    padding-top: 0;
  }
  .brand .brand_link {
    background-size: 175px auto;
  }
  .brand .brand_character {
    width: 80px;
    height: 122px;
    margin-top: 20px;
    background-size: 80px auto;
  }
  .brand .brand_character:before {
    top: -10px;
    right: -45px;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
  }
  .brand .brand_title {
    margin-top: 3px;
    font-size: 16px;
  }
  .brand .brand_title:after {
    display: block;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media all and (max-width: 800px) {
  .brand {
    display: inline-block;
    width: 30%;
    padding-right: 0;
    padding-left: 0;
  }
  .brand .brand_character:before {
    right: -35px;
  }
}

@media all and (max-width: 640px) {
  .brand {
    width: 48%;
    margin-top: 25px;
  }
  .brand .brand_link {
    background-size: 143px auto;
  }
  .brand .brand_character {
    width: 60px;
    height: 91px;
    margin-top: 0;
    background-size: 60px auto;
  }
  .brand .brand_character:before {
    right: -45px;
  }
  .brand .brand_title {
    font-size: 14px;
  }
  .brand .brand_title:after {
    margin-top: 0;
  }
}

@keyframes moveCharacter {
  0% {
    background-position: left top;
  }
  33% {
    background-position: left 50%;
  }
  66% {
    background-position: left 100%;
  }
  100% {
    background-position: left 50%;
  }
}

/* 열린시장실 */
.mayor {
  position: absolute;
  top: 0;
  right: 0;
  width: 550px;
  height: 250px;
  padding: 35px 245px 0 60px;
  border: 1px solid #bbd1ec;
  border-radius: 40px;
  background-color: #e4eaf4;
  box-shadow: 19px 38px 30px 0 rgba(25, 53, 116, 0.12);
}

.mayor:after,
.mayor:before {
  display: block;
  position: absolute;
}

.mayor:before {
  top: 60px;
  right: -10px;
  width: 396px;
  height: 369px;
  background: url("../img/main/mayor_bg.png") no-repeat;
}

.mayor:after {
  right: 70px;
  bottom: 0;
  width: 187px;
  height: 276px;
  background: url("../img/main/mayor_photo.png") no-repeat;
}

.mayor .mayor_title {
  position: relative;
}

.mayor .mayor_title .mayor_slogan {
  color: #4286e1;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
}

.mayor .mayor_title .mayor_name {
  position: relative;
  color: #111d68;
  font-size: 20px;
  line-height: 38px;
  font-weight: bold;
}

.mayor .mayor_title .mayor_name span {
  font-size: 30px;
  letter-spacing: 0.025em;
}

.mayor .mayor_item a:after,
.mayor .mayor_title .mayor_name:before {
  display: block;
  position: absolute;
  background-image: url("../img/icon/mayor_sprite.png");
}

.mayor .mayor_title .mayor_name:before {
  top: -3px;
  right: -15px;
  width: 12px;
  height: 14px;
  background-position: left bottom;
}

.mayor .mayor_link {
  position: relative;
  margin-top: 15px;
}

.mayor .mayor_item a {
  display: inline-block;
  position: relative;
  padding-right: 38px;
  padding-left: 30px;
  border-radius: 16px;
  color: #43475e;
  font-size: 16px;
  font-weight: bold;
  line-height: 33px;
}

.mayor .mayor_item a:hover {
  margin-left: -10px;
  padding-left: 20px;
  background-color: #fff;
  box-shadow: 2px 4px 20px 0 rgba(0, 0, 0, 0.07);
  color: #ec6c61;
  font-weight: bold;
}

.mayor .mayor_item a:after,
.mayor .mayor_item a:before {
  position: absolute;
}

.mayor .mayor_item a:before {
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  width: 16px;
  height: 2px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #939ab0;
}

.mayor .mayor_item a:after {
  display: block;
  opacity: 0;
  visibility: hidden;
  top: 12px;
  right: 18px;
  width: 17px;
  height: 9px;
  background-position: left top;
}

.mayor .mayor_item a:hover:before {
  width: 0;
}

.mayor .mayor_item a:hover:after {
  opacity: 1;
  visibility: inherit;
}

@media all and (max-width: 1400px) {
  .mayor {
    right: 30px;
  }
}

@media all and (max-width: 1200px) {
  .mayor {
    width: 440px;
    padding-right: 205px;
    padding-left: 50px;
  }
  .mayor:before {
    right: -40px;
  }
  .mayor:after {
    right: 40px;
  }
}

@media all and (max-width: 1000px) {
  .mayor {
    right: 3%;
    width: 330px;
    height: 200px;
    padding-top: 26px;
    padding-right: 150px;
    padding-left: 30px;
    border-radius: 26px;
  }
  .mayor:before {
    top: 50px;
    right: -40px;
    width: 246px;
    height: 246px;
    background-size: 246px auto;
  }
  .mayor:after {
    right: 15px;
    width: 150px;
    height: 221px;
    background-size: 150px auto;
  }
  .mayor .mayor_title .mayor_slogan {
    font-size: 16px;
    line-height: 22px;
  }
  .mayor .mayor_title .mayor_name {
    font-size: 16px;
    line-height: 24px;
  }
  .mayor .mayor_item a:after,
  .mayor .mayor_title .mayor_name:before {
    background-size: 12px auto;
  }
  .mayor .mayor_title .mayor_name:before {
    top: -3px;
    right: -12px;
    width: 9px;
    height: 10px;
  }
  .mayor .mayor_title .mayor_name span {
    font-size: 22px;
  }
  .mayor .mayor_link {
    margin-top: 10px;
  }
  .mayor .mayor_item a {
    padding-right: 35px;
    padding-left: 18px;
    font-size: 14px;
    line-height: 28px;
  }
  .mayor .mayor_item a:hover {
    padding-left: 15px;
  }
  .mayor .mayor_item a:before {
    width: 9px;
  }
  .mayor .mayor_item a:hover:after {
    right: 17px;
    width: 12px;
    height: 7px;
  }
}

@media all and (max-width: 800px) {
  .mayor {
    position: relative;
    top: auto;
    right: auto;
    width: 100%;
    margin-top: 35px;
  }
  .mayor:before {
    right: 0;
  }
  .mayor:after {
    right: 30px;
  }
  .mayor .mayor_title .mayor_slogan {
    display: block;
  }
}

@media all and (max-width: 640px) {
  .mayor {
    height: 160px;
    margin-top: 60px;
    padding-top: 20px;
  }
  .mayor:before {
    top: 30px;
    right: 5px;
    width: 190px;
    height: 190px;
    background-size: 190px auto;
  }
  .mayor:after {
    right: 20px;
    width: 130px;
    height: 192px;
    background-size: 130px auto;
  }
  .mayor .mayor_title .mayor_slogan {
    font-size: 14px;
  }
  .mayor .mayor_title .mayor_name {
    font-size: 15px;
  }
  .mayor .mayor_title .mayor_name span {
    font-size: 18px;
  }
  .mayor .mayor_link {
    margin-top: 8px;
  }
  .mayor .mayor_item {
    line-height: 21px;
  }
  .mayor .mayor_item a {
    font-size: 13px;
    line-height: 21px;
  }
  .mayor .mayor_item a:after {
    top: 7px;
  }
}

/* rowgroup3 */
.rowgroup3 {
  overflow: hidden;
}

@media all and (max-width: 800px) {
  .rowgroup3 {
    padding-top: 70px;
  }
}

/* 즐겨찾는메뉴 */
.favorite {
  position: relative;
}

.favorite .favorite_title {
  display: block;
  position: relative;
  z-index: 10;
  color: #111d68;
  font-size: 24px;
  line-height: 30px;
}

.favorite .favorite_title span {
  color: #363c5a;
}

.favorite .slick-list {
  margin-top: -5px;
  margin-bottom: -5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.favorite .favorite_list {
  position: relative;
  padding-top: 40px;
  padding-right: 100px;
  padding-bottom: 40px;
  background-color: #fff;
}

.favorite .favorite_list:after,
.favorite .favorite_list:before {
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  width: 5px;
  background-color: #fff;
}

.favorite .favorite_list:before {
  left: 0;
}

.favorite .favorite_list:after {
  right: 100px;
}

.favorite .favorite_list.open {
  max-height: 360px;
  overflow-x: hidden;
  overflow-y: auto;
}

.favorite .favorite_item {
  display: inline-block;
  position: relative;
  text-align: center;
  vertical-align: top;
}

.favorite .slick-slide .favorite_item {
  width: 100%;
}

.favorite .favorite_item:before {
  display: block;
  position: absolute;
  top: 20px;
  left: 0;
  width: 1px;
  height: 33px;
  border-right: 1px dotted #a4a5aa;
}

.favorite .favorite_item a {
  display: block;
  position: relative;
  height: 140px;
  padding-top: 80px;
  padding-right: 5px;
  padding-left: 5px;
}

.favorite .favorite_item a img {
  position: absolute;
  top: 7px;
  left: 0;
  right: 0;
  width: 60px;
  margin-right: auto;
  margin-left: auto;
}

.favorite .favorite_item a span {
  color: #333333;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  vertical-align: top;
  word-break: keep-all;
}

.favorite .favorite_count {
  position: absolute;
  top: 50px;
  right: 120px;
  font-size: 15px;
  font-weight: 300;
}

.favorite .favorite_current {
  color: #000;
  font-weight: 300;
}

.favorite .favorite_total {
  color: #969696;
}

.favorite .favorite_btn {
  position: absolute;
  z-index: 1;
  top: 29px;
  right: 0;
  width: 100px;
  height: 114px;
  padding-top: 30px;
  background-color: #00a3a0;
  text-align: center;
}

.favorite .favorite_btn:hover {
  background-color: #009290;
}

.favorite .favorite_btn:before {
  display: block;
  position: absolute;
  top: 29px;
  left: 0;
  right: 0;
  width: 20px;
  height: 20px;
  margin-right: auto;
  margin-left: auto;
  background-image: url("../img/icon/favorite_sprite.png");
  background-repeat: no-repeat;
  background-position: left top;
}

.favorite .favorite_btn span {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
}

.favorite .favorite_btn.close {
  background-color: #363c5a;
}

.favorite .favorite_btn.close:hover {
  background-color: #2f3557;
}

.favorite .favorite_btn.close:before {
  background-position: left 100%;
}

@media all and (min-width: 641px) {
  .favorite .favorite_item a:hover img {
    margin-top: -5px;
  }
}

@media all and (min-width: 1201px) {
  .favorite .slick-slide {
    width: 144px !important;
  }
  .favorite .favorite_item {
    width: 144px;
  }
}

@media all and (min-width: 1001px) and (max-width: 1200px) {
  .favorite .slick-slide {
    width: 140px !important;
  }
  .favorite .favorite_item {
    width: 140px;
  }
}

@media all and (max-width: 1000px) {
  .favorite .favorite_title {
    font-size: 20px;
  }
  .favorite .favorite_title:before {
    left: 165px;
  }
  .favorite .favorite_list {
    padding-top: 20px;
    padding-right: 60px;
    padding-bottom: 20px;
  }
  .favorite .favorite_list:after {
    z-index: 0;
    right: 0;
    width: 144px;
    height: 100%;
    background: url("../images/main/favorite_bg.png") repeat-y right;
    background-size: 144px 10px;
  }
  .favorite .favorite_item {
    width: 16.66%;
  }
  .favorite .favorite_item:before {
    top: 10px;
  }
  .favorite .favorite_list.open .favorite_item:first-child:before,
  .favorite .favorite_list.open .favorite_item:nth-child(6n + 1):before {
    display: none;
  }
  .favorite .favorite_item a {
    height: 110px;
    padding-top: 55px;
  }
  .favorite .favorite_item a img {
    top: 7px;
    width: 42px;
  }
  .favorite .favorite_item a span {
    font-size: 14px;
  }
  .favorite .favorite_count {
    z-index: 1;
    top: 40px;
    right: 75px;
    font-size: 13px;
  }
  .favorite .favorite_btn {
    width: 60px;
    height: 60px;
    padding-top: 20px;
  }
  .favorite .favorite_btn:before {
    top: 13px;
    width: 14px;
    height: 14px;
    background-size: 14px auto;
  }
  .favorite .favorite_btn span {
    font-size: 14px;
  }
  .favorite .favorite_btn span span {
    display: none;
  }
}

@media all and (max-width: 800px) {
  .favorite .favorite_title {
    padding-bottom: 10px;
  }
  .favorite .favorite_title:before {
    left: 0;
    width: 100%;
  }
  .favorite .favorite_list {
    padding-right: 0;
  }
  .favorite .favorite_list.open:before {
    display: none;
  }
  .favorite .favorite_list:after {
    top: -1px;
    right: -14%;
  }
  .favorite .favorite_count {
    top: 4px;
    right: 100px;
  }
  .favorite .favorite_btn {
    top: 0;
    width: 90px;
    height: 30px;
    padding-top: 0;
    padding-left: 15px;
    border-radius: 15px;
    line-height: 30px;
  }
  .favorite .favorite_btn:before {
    top: 10px;
    left: 14px;
    right: auto;
    width: 10px;
    height: 10px;
    background-size: 10px auto;
  }
  .favorite .favorite_btn span {
    display: block;
    font-size: 13px;
    line-height: 30px;
  }
}

@media all and (max-width: 640px) {
  .favorite .favorite_title {
    font-size: 18px;
    line-height: 30px;
  }
  .favorite .favorite_list:after {
    right: -80px;
  }
  .favorite .favorite_item {
    width: 25%;
  }
  .favorite .favorite_list.open .favorite_item:nth-child(6n + 1):before {
    display: block;
  }
  .favorite .favorite_list.open .favorite_item:nth-child(4n + 1):before {
    display: none;
  }
  .favorite .favorite_item a span {
    font-size: 13px;
    line-height: 18px;
  }
}

/* 포토게시판 */
.photo {
  position: relative;
}

.photo .photo_title {
  display: block;
  color: #111d68;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.photo .photo_title span {
  color: #363c5a;
}

.photo .photo_list {
  position: relative;
  margin-top: 35px;
  margin-bottom: 30px;
  padding-right: 560px;
}

.photo .photo_item.n1 {
  position: relative;
  min-height: 205px;
}

.photo .photo_item.n2,
.photo .photo_item.n3 {
  position: absolute;
  right: 0;
  width: 550px;
  height: 85px;
}

.photo .photo_item.n2 {
  top: 0;
}

.photo .photo_item.n3 {
  top: 120px;
}

.photo .photo_item.n3:before {
  display: block;
  position: absolute;
  top: -18px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #e5e7ee;
}

.photo .photo_item a {
  display: block;
}

.photo .photo_item.n1 a {
  display: block;
  position: relative;
  padding-left: 380px;
}

.photo .photo_item.n2 a,
.photo .photo_item.n3 a {
  position: relative;
  padding-left: 180px;
}

.photo .photo_item .photo_img {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.photo .photo_item .photo_img img {
  width: 100%;
  height: auto;
  max-height: 999%;
}

.photo .photo_item.n1 .photo_img {
  width: 350px;
  height: 205px;
}

.photo .photo_item.n2 .photo_img,
.photo .photo_item.n3 .photo_img {
  width: 150px;
  height: 85px;
}

.photo .photo_item .photo_subject {
  max-height: 52px;
  color: #1a1a1a;
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
  -webkit-line-clamp: 2;
}

.photo .photo_item.n1 .photo_subject {
  max-height: 56px;
  line-height: 28px;
}

.photo .photo_item:hover .photo_subject {
  text-decoration: underline;
}

.photo .photo_item.n1 .photo_subject {
  font-size: 18px;
  font-weight: bold;
}

.photo .photo_item .photo_content,
.photo .photo_item .photo_subject {
  display: -webkit-box;
  overflow: hidden;
  white-space: normal;
  word-break: keep-all;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
}

.photo .photo_item .photo_type {
  min-width: 70px;
  height: 20px;
  margin-right: 10px;
  padding-right: 10px;
  padding-left: 10px;
  overflow: hidden;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  line-height: 20px;
  transform: translateY(2px);
}

.photo .photo_item .photo_type.type01 {
  background-color: #ec6c61;
}

.photo .photo_item .photo_type.type02 {
  background-color: #00a3a0;
}

.photo .photo_item .photo_type.type03 {
  background-color: #437dea;
}

.photo .photo_item .photo_content {
  max-height: 66px;
  margin-top: 30px;
  margin-bottom: 15px;
  color: #7d7d7d;
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  -webkit-line-clamp: 3;
}

.photo .photo_item .photo_date {
  margin-top: 10px;
  color: #636363;
  font-size: 14px;
  font-weight: 300;
}

.photo .photo_more {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  height: 35px;
  padding-right: 50px;
  padding-left: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: #e5e7ee;
  border-radius: 18px;
  line-height: 33px;
}

.photo .photo_more:hover {
  border-color: #437dea;
  color: #437dea;
}

.photo .photo_more:before {
  display: block;
  position: absolute;
  top: 0;
  right: 27px;
  bottom: 0;
  width: 11px;
  height: 11px;
  margin-top: auto;
  margin-bottom: auto;
  background: url("../img/main/photo_arrow.png") no-repeat;
}

.photo .photo_more:hover:before {
  right: 22px;
}

@media all and (min-width: 641px) {
  .photo .photo_item:hover .photo_img img {
    transform: scale(1.1);
  }
}

@media all and (max-width: 1400px) {
  .photo .photo_list {
    padding-right: 470px;
  }
  .photo .photo_item.n2,
  .photo .photo_item.n3 {
    width: 460px;
  }
}

@media all and (max-width: 1200px) {
  .photo .photo_list {
    padding-right: 0;
    padding-bottom: 0;
    overflow: hidden;
  }
  .photo .photo_item {
    padding-right: 5px;
  }
  .photo .photo_item.n1 {
    min-height: 235px;
    padding-bottom: 30px;
  }
  .photo .photo_item.n2,
  .photo .photo_item.n3 {
    position: relative;
    top: auto;
    left: 0;
    left: auto;
    right: auto;
    float: left;
    width: 50%;
    height: auto;
  }
  .photo .photo_item.n3:before {
    top: -15px;
    left: auto;
    width: 200%;
  }
  .photo .photo_item .photo_content,
  .photo .photo_item .photo_subject {
    max-height: 78px;
    -webkit-line-clamp: 3;
  }
}

@media all and (max-width: 1000px) {
  .photo .photo_title {
    font-size: 20px;
  }
  .photo .photo_list {
    margin-top: 15px;
    margin-bottom: 25px;
  }
  .photo .photo_item.n1 {
    min-height: 200px;
  }
  .photo .photo_item.n1 a {
    padding-left: 310px;
  }
  .photo .photo_item.n2 a,
  .photo .photo_item.n3 a {
    padding-left: 145px;
  }
  .photo .photo_item.n1 .photo_img {
    width: 290px;
    height: 170px;
  }
  .photo .photo_item.n2 .photo_img,
  .photo .photo_item.n3 .photo_img {
    width: 130px;
    height: auto;
  }
  .photo .photo_item .photo_subject {
    max-height: 66px;
    font-size: 15px;
    line-height: 22px;
  }
  .photo .photo_item.n1 .photo_subject {
    max-height: 72px;
    font-size: 16px;
    line-height: 24px;
  }
  .photo .photo_item .photo_type {
    min-width: 60px;
    height: 16px;
    margin-right: 6px;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 12px;
    line-height: 16px;
  }
  .photo .photo_item .photo_content {
    max-height: 63px;
    margin-top: 12px;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 21px;
  }
  .photo .photo_item .photo_date {
    font-weight: 300;
  }
  .photo .photo_more {
    height: 30px;
    padding-right: 45px;
    padding-left: 25px;
    border-radius: 15px;
    font-size: 14px;
    line-height: 28px;
  }
}

@media all and (max-width: 640px) {
  .photo .photo_title {
    font-size: 18px;
    line-height: 30px;
  }
  .photo .photo_list {
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .photo .photo_item {
    padding-right: 0;
  }
  .photo .photo_item.n1 {
    padding: 20px;
    border: 1px solid #e5e7ee;
  }
  .photo .photo_item.n2,
  .photo .photo_item.n3 {
    width: 100%;
    min-height: 82px;
  }
  .photo .photo_item.n2 {
    margin-top: 15px;
  }
  .photo .photo_item.n3 {
    margin-top: 20px;
  }
  .photo .photo_item.n1 a {
    padding-left: 0;
  }
  .photo .photo_item.n1 .photo_img {
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
    height: auto;
  }
  .photo .photo_item .photo_subject {
    max-height: 60px;
    font-size: 13px;
    line-height: 20px;
  }
  .photo .photo_item.n1 .photo_subject {
    max-height: 63px;
    margin-top: 6px;
    font-size: 14px;
    line-height: 21px;
  }
  .photo .photo_item .photo_type {
    min-width: 56px;
    font-size: 11px;
  }
  .photo .photo_item .photo_content {
    margin-top: 10px;
    font-size: 13px;
  }
  .photo .photo_item .photo_date {
    margin-top: 0;
    font-size: 12px;
  }
  .photo .photo_more {
    height: 25px;
    padding-right: 35px;
    padding-left: 15px;
    border-radius: 13px;
    font-size: 13px;
    line-height: 23px;
  }
  .photo .photo_more:before {
    right: 16px;
  }
  .photo .photo_more:hover:before {
    right: 11px;
  }
}

/* 바로가기 */
.shortcut2 {
  border-top: 1px solid #d5e1da;
  border-right: 1px solid #d5e1da;
  border-bottom: 1px solid #d5e1da;
  background-color: #f9f9f4;
}

.shortcut2 .shortcut_list {
  overflow: hidden;
}

.shortcut2 .shortcut_item {
  float: left;
  width: 25%;
  border-left: 1px solid #d5e1da;
}

.shortcut2 .shortcut_item a {
  display: block;
  padding-left: 60px;
  background: url("../img/main/shortcut_arrow.png") no-repeat 30px center;
  color: #1a1a1a;
  font-size: 16px;
  font-weight: bold;
  line-height: 63px;
}

.shortcut2 .shortcut_item a:hover {
  text-decoration: underline;
}

@media all and (max-width: 1000px) {
  .shortcut2 .shortcut_item a {
    padding-left: 40px;
    background-position: 15px center;
    background-size: 15px 15px;
    font-size: 14px;
    line-height: 49px;
  }
}

@media all and (max-width: 800px) {
  .shortcut2 .shortcut_item {
    width: 50%;
  }
  .shortcut2 .shortcut_item:nth-child(3),
  .shortcut2 .shortcut_item:nth-child(4) {
    border-top: 1px solid #d5e1da;
  }
}

@media all and (max-width: 640px) {
  .shortcut2 .shortcut_item a {
    padding-left: 30px;
    background-position: 12px center;
    background-size: 12px 12px;
    font-size: 13px;
    line-height: 40px;
  }
}

/* rowgroup5 */
.rowgroup5 {
  position: relative;
  padding-top: 135px;
  padding-bottom: 125px;
}

.rowgroup5:after,
.rowgroup5:before {
  display: block;
  position: absolute;
  z-index: -1;
  background-image: url("../img/main/rowgroup5_sprite.png");
  background-repeat: no-repeat;
}

.rowgroup5:before {
  top: 58px;
  left: -10%;
  width: 649px;
  height: 507px;
  background-position: left top;
}

.rowgroup5:after {
  top: 40px;
  right: -10%;
  width: 793px;
  height: 740px;
  background-position: left 100%;
}

@media all and (max-width: 1400px) {
  .rowgroup5:before {
    left: -35%;
  }
  .rowgroup5:after {
    right: -40%;
  }
}

@media all and (max-width: 1200px) {
  .rowgroup5:before {
    left: -48%;
  }
  .rowgroup5:after {
    right: -54%;
  }
}

@media all and (max-width: 1000px) {
  .rowgroup5 {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .rowgroup5:after,
  .rowgroup5:before {
    background-size: 523px auto;
  }
  .rowgroup5:before {
    top: 80px;
    left: -31%;
    width: 428px;
    height: 334px;
  }
  .rowgroup5:after {
    top: 50px;
    right: -44%;
    width: 523px;
    height: 488px;
  }
}

@media all and (max-width: 800px) {
  .rowgroup5 {
    padding-top: 70px;
  }
  .rowgroup5:before {
    left: -48%;
  }
  .rowgroup5:after {
    right: -56%;
  }
}

@media all and (max-width: 640px) {
  .rowgroup5 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

/* 서비스 */
.service {
  text-align: center;
}

.service_title {
  font-weight: bold;
  color: #111d68;
}

.service_title .service2 {
  color: #437dea;
}

.service .service_head:before,
.service .service_item:before,
.service .service_link:before,
.service .service_link_item a:before,
.service .service_title:before {
  display: block;
  position: absolute;
  background-image: url("../img/icon/service_sprite.png");
  background-repeat: no-repeat;
}

.service .service_title {
  display: inline-block;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.service .service_title:before {
  z-index: -1;
  top: -60px;
  left: -135px;
  width: 177px;
  height: 115px;
  background-position: left top;
}

.service .service_list {
  margin-top: 40px;
}

.service .service_item {
  position: relative;
  float: left;
  width: 45%;
  height: 434px;
  padding: 60px 65px;
  border: 1px solid #e6e6e6;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 20px 38px 30px 0 rgba(25, 53, 116, 0.09);
  text-align: left;
}

.service .service_item.n1 {
  margin-left: 3%;
}

.service .service_item.n2 {
  margin-left: 4%;
}

.service .service_item.n2:before {
  top: -75px;
  right: 70px;
  width: 57px;
  height: 75px;
  background-position: left 34.72%;
}

.service .service_head {
  position: relative;
  padding-right: 90px;
}

.service .service_head:before {
  top: -10px;
  right: 0;
  width: 90px;
  height: 64px;
}

.service .n1 .service_head:before {
  background-position: left 56.6%;
}

.service .n2 .service_head:before {
  background-position: left 76.54%;
}

.service .service_slogan {
  color: #141414;
  font-size: 24px;
  font-weight: bold;
}

.service .n1 .service_slogan span {
  color: #ec6c61;
}

.service .n2 .service_slogan span {
  color: #00b6bd;
}

.service .service_text {
  margin-top: 7px;
  color: #7d7d7d;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}

.service .service_link {
  position: relative;
  margin-top: 20px;
  padding-top: 16px;
}

.service .service_link:before {
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-repeat: repeat-x;
  background-position: left 82.67%;
}

.service .service_link_list {
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  overflow: hidden;
}

.service .service_link_item {
  position: relative;
  float: left;
  width: 100%;
  margin-top: 10px;
}

.service .n2 .service_link_item {
  width: 50%;
}

.service .service_link_item a {
  display: block;
  padding-left: 35px;
  color: #1a1a1a;
  font-size: 16px;
  font-weight: bold;
  line-height: 25px;
}

.service .service_link_item a:before {
  top: 5px;
  left: 5px;
  width: 16px;
  height: 15px;
  background-position: left 88.09%;
}

.service .n1 .service_link_item a:hover {
  color: #ec6c61;
}

.service .n2 .service_link_item a:hover {
  color: #00b6bd;
}

.service .n1 .service_link_item a:hover:before {
  background-position: left 94.04%;
}

.service .n2 .service_link_item a:hover:before {
  background-position: left 100%;
}

.service .service_link_item a span {
  color: #7d7d7d;
  font-size: 14px;
  font-weight: bold;
}

@media all and (max-width: 1200px) {
  .service .service_item {
    width: 48%;
    padding-right: 35px;
    padding-left: 35px;
  }
  .service .service_item.n1 {
    margin-left: 0;
  }
}

@media all and (max-width: 1000px) {
  .service .service_title img {
    width: 179px;
  }
  .service .service_title:before {
    top: -35px;
    left: -70px;
    width: 102px;
    height: 67px;
    background-size: 102px auto;
  }
  .service .service_item {
    height: auto;
    min-height: 296px;
    padding: 35px 20px 20px;
  }
  .service .service_head:before {
    top: -10px;
    width: 59px;
    height: 42px;
    background-size: 115px auto;
  }
  .service .service_slogan {
    font-size: 18px;
  }
  .service .service_text {
    display: none;
  }
  .service .service_link {
    margin-top: 25px;
    padding-top: 15px;
  }
  .service .service_link_list {
    margin-right: -5px;
    margin-left: -5px;
  }
  .service .service_link_item {
    margin-top: 3px;
  }
  .service .service_link_item a {
    padding-left: 25px;
    font-size: 14px;
  }
  .service .service_link_item a:before {
    left: 0;
  }
  .service .service_link_item a span {
    font-size: 12px;
  }
}

@media all and (max-width: 800px) {
  .service .service_item {
    width: 49%;
    min-height: 374px;
  }
  .service .service_item.n2 {
    margin-left: 2%;
  }
  .service .service_head:before {
    top: 3px;
  }
  .service .service_slogan span {
    display: block;
  }
  .service .n2 .service_link_item {
    width: 100%;
  }
}

@media all and (max-width: 640px) {
  .service .service_title img {
    width: 147px;
  }
  .service .service_title:before {
    top: -20px;
    left: -60px;
    width: 77px;
    height: 50px;
    background-size: 77px auto;
  }
  .service .service_list {
    margin-top: 20px;
  }
  .service .service_item {
    width: 100%;
    min-height: auto;
    padding-top: 20px;
    padding-bottom: 15px;
    border-radius: 20px;
  }
  .service .service_item.n2 {
    margin-top: 10px;
    margin-left: 0;
  }
  .service .service_item.n1:before {
    top: -50px;
    right: 20px;
    width: 37px;
    height: 49px;
    background-position: left 34.72%;
    background-size: 114px auto;
  }
  .service .service_item.n2:before {
    display: none;
  }
  .service .service_head {
    padding-right: 0;
  }
  .service .service_head:before {
    display: none;
  }
  .service .service_slogan {
    font-size: 16px;
  }
  .service .service_slogan span {
    display: inline-block;
  }
  .service .service_link {
    margin-top: 10px;
  }
  .service .service_link_item a {
    padding-left: 18px;
    font-size: 12px;
  }
  .service .service_link_item a:before {
    top: 8px;
    width: 12px;
    height: 11px;
    background-size: 125px auto;
  }
  .service .n2 .service_link_item {
    width: 50%;
  }
}

/* rowgroup6 */
#container .rowgroup6 .wrap {
  position: relative;
}

#container .rowgroup6 .wrap:before {
  display: block;
  position: absolute;
  top: 18px;
  left: 288px;
  width: 100vw;
  height: 1px;
  background-color: #e5e7ee;
}

@media all and (max-width: 1000px) {
  #container .rowgroup6 .wrap:before {
    top: 14px;
    left: 190px;
  }
}

/* sns */
.sns {
  position: relative;
  margin-top: 40px;
}

.sns .sns_next:before,
.sns .sns_panel .sns_img:before,
.sns .sns_prev:before,
.sns .sns_tab .sns_button:after,
.sns .sns_tab .sns_link:after,
.sns .sns_title:before {
  display: block;
  position: absolute;
  background-image: url("../img/icon/sns_sprite.png");
  background-repeat: no-repeat;
}

.sns .sns_title {
  position: relative;
  padding-left: 110px;
  color: #111d68;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}

.sns .sns_title:before {
  top: -38px;
  left: 0;
  width: 101px;
  height: 66px;
  background-position: left top;
}

.sns .sns_tab {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 230px;
  padding-right: 35px;
  padding-left: 35px;
  background-color: #fff;
}

.sns .sns_tab .sns_list {
  font-size: 0;
  line-height: 0;
}

.sns .sns_tab .sns_item {
  position: relative;
  float: left;
}

.sns .sns_tab .sns_item + .sns_item {
  margin-left: 10px;
}

.sns .sns_tab .sns_button,
.sns .sns_tab .sns_link {
  display: block;
  width: 36px;
  height: 36px;
  overflow: hidden;
  border-radius: 18px;
  color: #fff;
  font-size: 0;
  line-height: 36px;
}

.sns .sns_tab .sns_button:hover,
.sns .sns_tab .sns_link:hover {
  box-shadow: 0 0 10px 0 rgba(13, 36, 78, 0.25);
}

.sns .sns_tab .sns_button:after,
.sns .sns_tab .sns_link:after {
  top: 0;
  right: 0;
  bottom: 0;
  width: 36px;
  height: 36px;
  margin: auto;
}

.sns .sns_tab .n1 .sns_button {
  background-color: #4868ac;
}

.sns .sns_tab .n2 .sns_button {
  background-color: #59c843;
}

.sns .sns_tab .n3 .sns_button {
  background-color: #d91e1e;
}

.sns .sns_tab .n4 .sns_link {
  background: url("../img/icon/sns_bg.png") no-repeat;
  background-size: 100% 100%;
}

.sns .sns_tab .n5 .sns_link {
  background-color: #ffdc50;
}

.sns .sns_tab .n6 .sns_link {
  background-color: #00c300;
}

.sns .sns_tab .n1 .sns_button:after {
  background-position: left 17.04%;
}

.sns .sns_tab .n2 .sns_button:after {
  background-position: left 27.35%;
}

.sns .sns_tab .n3 .sns_button:after {
  background-position: left 37.66%;
}

.sns .sns_tab .n4 .sns_link:after {
  background-position: left 47.98%;
}

.sns .sns_tab .n5 .sns_link:after {
  background-position: left 58.29%;
}

.sns .sns_tab .n6 .sns_link:after {
  background-image: url("../img/icon/sns_add_icon1.png");
}

.sns .sns_tab .sns_item.active .sns_button {
  width: auto;
  padding-right: 30px;
  padding-left: 18px;
  box-shadow: 0 0 10px 0 rgba(13, 36, 78, 0.25);
  font-size: 14px;
}

.sns .sns_panel {
  margin-top: 50px;
  margin-bottom: 80px;
}

.sns .sns_panel .slick-list {
  margin-right: -30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.sns .sns_panel .sns_item {
  float: left;
  padding-right: 30px;
}

.sns .sns_panel .sns_anchor {
  display: block;
  padding-bottom: 30px;
  border-bottom: 1px solid #d3d6e1;
}

.sns .sns_panel .sns_img {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-height: 256px;
  margin-bottom: 25px;
  border-radius: 5px;
  background-color: #000;
  text-align: center;
}

.sns .sns_panel .sns_img:before {
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 36px;
  height: 36px;
  margin: auto;
}

.sns .sns_panel .sns_img:after {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: '';
}

.sns .sns_panel .sns_img img {
  display: inline-block;
  width: 100%;
}

.sns .sns_panel .sns_item[data-category="facebook"] .sns_img:before {
  background-position: left 68.6%;
}

.sns .sns_panel .sns_item[data-category="blog"] .sns_img:before {
  background-position: left 78.92%;
}

.sns .sns_panel .sns_item[data-category="youtube"] .sns_img:before {
  background-position: left 89.23%;
}

.sns .sns_panel .sns_img:hover:before {
  opacity: 1;
}

.sns .sns_panel .sns_img:hover img {
  opacity: 0.3;
}

.sns .sns_panel .sns_subject {
  display: -webkit-box;
  height: 66px;
  overflow: hidden;
  color: #7d7d7d;
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  white-space: normal;
  word-break: keep-all;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.sns .sns_panel .sns_date {
  margin-top: 20px;
  color: #636363;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}

.sns .sns_control {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 25px;
  width: 205px;
  height: 36px;
  padding-right: 36px;
  padding-left: 36px;
  background-color: #fff;
}

.sns .sns_count {
  display: block;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  line-height: 36px;
}

.sns .sns_current {
  color: #000;
  font-weight: 300;
}

.sns .sns_total {
  color: #969696;
}

.sns .sns_next,
.sns .sns_prev {
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 36px;
  height: 36px;
  font-size: 0;
}

.sns .sns_next:before,
.sns .sns_prev:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.sns .sns_next:before,
.sns .sns_prev:before {
  width: 9px;
  height: 14px;
}

.sns .sns_prev {
  left: 0;
}

.sns .sns_prev:before {
  background-position: left 94.87%;
}

.sns .sns_next:hover,
.sns .sns_prev:hover {
  opacity: 1;
}

.sns .sns_next {
  right: 0;
}

.sns .sns_next:before {
  background-position: left 100%;
}

@media all and (min-width: 1000px) {
  .sns .sns_tab {
    right: 0;
  }
  .sns .sns_control {
    opacity: 0;
    visibility: hidden;
  }
}

@media all and (max-width: 1000px) {
  .sns {
    margin-top: 25px;
  }
  .sns .sns_title {
    padding-left: 75px;
    font-size: 22px;
    line-height: 28px;
  }
  .sns .sns_title:before {
    top: -26px;
    width: 72px;
    height: 46px;
    background-size: 72px auto;
  }
  .sns .sns_tab {
    right: 125px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .sns .sns_tab .sns_button,
  .sns .sns_tab .sns_link {
    width: 28px;
    height: 28px;
    border-radius: 14px;
    line-height: 28px;
  }
  .sns .sns_tab .sns_button:after,
  .sns .sns_tab .sns_link:after {
    width: 28px;
    height: 28px;
    background-size: 78px auto;
  }
  .sns .sns_tab .n6 .sns_link:after {
    background-size: 28px 28px;
  }
  .sns .sns_panel .sns_item {
    padding-right: 10px;
  }
  .sns .sns_panel .sns_anchor {
    padding-bottom: 15px;
  }
  .sns .sns_panel .sns_img {
    margin-bottom: 10px;
  }
  .sns .sns_panel .sns_subject {
    height: 63px;
    font-size: 14px;
    line-height: 21px;
  }
  .sns .sns_panel .sns_date {
    margin-top: 10px;
    font-weight: 300;
  }
  .sns .sns_control {
    top: -4px;
    right: 0;
    width: 128px;
  }
}

@media all and (max-width: 640px) {
  .sns .sns_title {
    padding-left: 65px;
    font-size: 18px;
    line-height: 24px;
  }
  .sns .sns_title:before {
    top: -22px;
    width: 61px;
    height: 41px;
    background-size: 61px auto;
  }
  .sns .sns_tab {
    right: 0;
    padding-right: 0;
    padding-left: 0;
  }
  .sns .sns_tab .sns_item + .sns_item {
    margin-left: 6px;
  }
  .sns .sns_tab .sns_button,
  .sns .sns_tab .sns_link {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    line-height: 24px;
  }
  .sns .sns_tab .sns_button:after,
  .sns .sns_tab .sns_link:after {
    width: 24px;
    height: 24px;
    background-size: 70px auto;
  }
  .sns .sns_tab .n6 .sns_link:after {
    background-size: 24px 24px;
  }
  .sns .sns_tab .sns_item.active .sns_button {
    padding-right: 22px;
    padding-left: 10px;
    font-size: 12px;
    font-weight: 300;
  }
  .sns .sns_panel {
    margin-top: 15px;
    margin-bottom: 70px;
  }
  .sns .sns_panel .sns_img {
    margin-bottom: 5px;
  }
  .sns .sns_panel .sns_subject {
    max-height: 40px;
    font-size: 13px;
    line-height: 20px;
    -webkit-line-clamp: 2;
  }
  .sns .sns_panel .sns_date {
    margin-top: 5px;
    font-size: 12px;
  }
  .sns .sns_control {
    top: auto;
    left: 0;
    bottom: -31px;
    margin-right: auto;
    margin-left: auto;
    background-color: transparent;
  }
  .sns .sns_count {
    font-size: 13px;
  }
  .sns .sns_next,
  .sns .sns_prev {
    display: none;
  }
}

/* transition */
@media all and (min-width: 641px) {
  .board .basic_anchor,
  .board .basic_subject,
  .board .basic_tag,
  .board .board_more,
  .board .board_more:before,
  .board .slick-slide,
  .favorite .favorite_btn,
  .favorite .favorite_btn:before,
  .mayor .mayor_item a,
  .mayor .mayor_item a:after,
  .mayor .mayor_item a:before,
  .photo .photo_item .photo_img img,
  .photo .photo_more,
  .photo .photo_more:before,
  .shortcut1 .shortcut_item a:before,
  .slick-arrow,
  .slick-arrow:before,
  .sns .sns_panel .sns_img img,
  .sns .sns_panel .sns_img:before,
  .sns .sns_tab .sns_button,
  .sns .sns_tab .sns_link,
  .visual .visual_open,
  .visual .visual_open:before {
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
  }
  .favorite .favorite_item a img {
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
  .shortcut1 .shortcut_item a:after {
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
  }
  .board .slick-slide,
  .mayor .mayor_item a:after,
  .slick-arrow,
  .slick-arrow:before,
  .sns .sns_panel .sns_img img,
  .sns .sns_panel .sns_img:before,
  .visual .visual_open:before {
    transition-property: opacity, visibility;
  }
  .board .board_more,
  .favorite .favorite_btn {
    transition-property: background-color;
  }
  .board .basic_tag {
    transition-property: background-color, color;
  }
  .board .basic_subject {
    transition-property: color;
  }
  .board .basic_anchor {
    transition-property: border-color, box-shadow;
  }
  .shortcut1 .shortcut_item a:before,
  .sns .sns_tab .sns_button,
  .sns .sns_tab .sns_link {
    transition-property: box-shadow;
  }
  .photo .photo_item .photo_img img,
  .shortcut1 .shortcut_item a:hover:after {
    transition-property: transform;
  }
  .mayor .mayor_item a {
    transition-property: margin, padding, background-color, color;
  }
  .mayor .mayor_item a:before {
    transition-property: width;
  }
  .board .board_more:before,
  .favorite .favorite_btn:before {
    transition-property: background-position;
  }
  .favorite .favorite_item a img {
    transition-property: margin-top;
  }
  .photo .photo_more {
    transition-property: border-color, color;
  }
  .photo .photo_more:before {
    transition-property: right;
  }
  .visual .visual_open {
    transition-property: border-color, font-size;
  }
}

/* 하단 */
#footer {
  padding-bottom: 70px;
}

/* 하단 배너모움 */
#footer .banner {
  position: relative;
  border-top: 1px solid #d3d6e1;
  font-size: 0;
  line-height: 0;
}

#footer .banner h2 {
  position: absolute;
  top: 21px;
  left: 0;
  padding-left: 38px;
  color: #4a506b;
  background-color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}

#footer .banner h2:before {
  display: block;
  position: absolute;
  top: 0;
  left: 1px;
  width: 24px;
  height: 23px;
  background: url("/common_2020/images/layout/banner_sprite.png") no-repeat;
}

#footer .banner_list {
  min-height: 69px;
  padding-left: 140px;
  padding-right: 110px;
}

#footer .banner_item {
  display: inline-block;
  position: relative;
  margin-left: 25px;
  padding-left: 25px;
  padding-top: 26px;
  padding-bottom: 26px;
  color: #636363;
  font-size: 15px;
  line-height: 17px;
}

#footer .banner_item:before {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 3px;
  height: 3px;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 100%;
  background-color: #cbceda;
}

#footer .banner_anchor {
  position: relative;
  color: #636363;
}

#footer .banner_anchor:before {
  visibility: hidden;
  opacity: 0;
  display: block;
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 100%;
  height: 1px;
  border-bottom: 1px dotted #3b434f;
}

#footer .banner_anchor:hover:before {
  visibility: visible;
  opacity: 1;
}

#footer .slick-slide > div {
  display: inline-block;
}

#footer .slick-slide > div:first-child .banner_item {
  margin-left: 0;
  padding-left: 0;
}

#footer .slick-slide > div:first-child .banner_item:before {
  display: none;
}

#footer .banner_control {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 13px;
  margin-top: auto;
  margin-bottom: auto;
}

#footer .banner_more,
#footer .slick-arrow {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

#footer .banner_auto {
  margin-left: 3px;
  margin-right: 3px;
}

#footer .banner_more {
  margin-left: 6px;
}

#footer .banner_more:before,
#footer .slick-arrow:before {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-image: url("/common_2020/images/layout/banner_sprite.png");
  background-repeat: no-repeat;
}

#footer .banner_prev:before {
  width: 13px;
  height: 9px;
  background-position: left 29.05%;
}

#footer .banner_next:before {
  width: 13px;
  height: 9px;
  background-position: left 45.29%;
}

#footer .banner_auto.slick-pause:before {
  width: 7px;
  height: 10px;
  background-position: left 62.06%;
}

#footer .banner_auto.slick-play:before {
  width: 8px;
  height: 12px;
  background-position: left 80.53%;
}

#footer .banner_more:before {
  width: 12px;
  height: 12px;
  background-position: left 100%;
}

@media all and (max-width: 1000px) {
  #footer .banner h2 {
    top: 6px;
    left: 3%;
    padding-left: 28px;
    font-size: 14px;
  }
  #footer .banner h2:before {
    top: 3px;
    left: 0;
    width: 20px;
    height: 20px;
    background-size: 20px auto;
  }
  #footer .banner_list {
    min-height: 39px;
    padding-left: 100px;
    padding-right: 60px;
  }
  #footer .banner_item {
    margin-left: 15px;
    padding: 11px 0 11px 15px;
    font-size: 14px;
  }
  #footer .banner_control {
    right: 3%;
  }
}

@media all and (max-width: 560px) {
  #footer .banner h2 {
    opacity: 0;
  }
  #footer .banner_list {
    padding-left: 0;
  }
  #footer .banner_item {
    margin-left: 10px;
    padding: 11px 0 11px 10px;
    font-size: 12px;
  }
  #footer .banner_auto {
    margin-left: 0;
    margin-right: 0;
  }
  #footer .banner_more {
    margin-left: 2px;
  }
}

/* 하단 링크 */
#footer .link {
  position: relative;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 0;
  line-height: 0;
  background-color: #4a506b;
}

#footer .link_item {
  display: inline-block;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

#footer .link_item:first-child {
  padding-left: 0;
}

#footer .link_item:first-child a {
  color: #dca940;
}

#footer .link_item:before {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 3px;
  height: 3px;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 100%;
  background-color: #60667e;
}

#footer .link_item:first-child:before {
  display: none;
}

#footer .link_anchor {
  display: block;
  padding-top: 1px;
  color: #fff;
  font-size: 16px;
  line-height: 30px;
}

#footer .link_anchor:hover {
  text-decoration: underline;
}

#footer .link_item.n1 .link_anchor {
  color: #3b434f;
  font-weight: 500;
}

@media all and (max-width: 1300px) {
  #footer .link_item {
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media all and (max-width: 1000px) {
  #footer .link {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
  }
  #footer .link_anchor {
    font-size: 14px;
  }
}

@media all and (max-width: 640px) {
  #footer .link {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
  }
  #footer .link_anchor {
    font-size: 12px;
  }
}

/* 하단 정보 */
#footer .footer_content {
  position: relative;
  margin-top: 30px;
}

#footer .logo {
  display: inline-block;
  vertical-align: top;
}

#footer .logo_image {
  display: inline-block;
  vertical-align: top;
}

#footer .info {
  display: inline-block;
  margin-top: 8px;
  margin-left: 30px;
  color: #969696;
  font-size: 14px;
  line-height: 24px;
  vertical-align: top;
}

@media all and (max-width: 1440px) {
  #footer .info {
    margin-left: 30px;
  }
}

@media all and (max-width: 1000px) {
  #footer {
    padding-bottom: 60px;
  }
  #footer .footer_content {
    margin-top: 20px;
  }
  #footer .logo img {
    height: 40px;
  }
  #footer .info {
    margin-left: 25px;
    font-size: 14px;
    line-height: 22px;
  }
  #footer .info_tel {
    display: block;
    margin-left: 0;
  }
  #footer .info_copyright {
    margin-top: 5px;
  }
}

@media all and (max-width: 640px) {
  #footer {
    padding-bottom: 30px;
  }
  #footer .logo {
    display: block;
    text-align: center;
  }
  #footer .logo img {
    height: 30px;
  }
  #footer .info {
    display: block;
    margin-top: 20px;
    margin-left: 0;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
  }
  #footer .info_text {
    margin-top: 10px;
    font-size: 12px;
    line-height: 18px;
  }
}

/* 하단 정보 */
#footer .logo {
  padding-right: 70px;
}

/* 하단 접근성마크 */
#footer .wa {
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: linear;
}

#footer .wa {
  position: absolute;
  top: -10px;
  right: 0;
  transition-property: right;
}

#footer .wa_image {
  width: 106px;
}

@media all and (max-width: 1000px) {
  #footer .wa {
    top: 0;
  }
  #footer .wa_image {
    width: 75px;
  }
}

@media all and (max-width: 640px) {
  #footer .wa {
    width: 100%;
    padding-left: 100px;
    text-align: center;
  }
  #footer .wa_image {
    width: 54px;
  }
}
