/* transition */
.addons .addons_button,
.addons .share_list,
.addons .share_panel,
.tab_menu.type2 .tab_item {
  transition-timing-function: linear;
  transition-duration: 0.25s;
}

.breadcrumbs {
  position: relative;
  font-size: 0;
  line-height: 0;
  &:before {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 100vw;
    height: 100%;
    border-bottom: 1px solid #e5e7ee;
    background-color: #f4f5f9;
    transform: translateX(-50%);
  }
  .breadcrumbs_list {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .breadcrumbs_item {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    padding-right: 16px;
    vertical-align: middle;
    &:after {
      display: block;
      position: absolute;
      top: 1px;
      bottom: 0;
      right: 0;
      width: 4px;
      height: 7px;
      margin-top: auto;
      margin-bottom: auto;
      background: url("../img/sub/breadcrumbs_arrow.png") no-repeat;
    }
  }
  .breadcrumbs_anchor {
    position: relative;
    color: #7d7d7d;
    font-size: 13px;
    line-height: 18px;
    &:hover {
      text-decoration: underline;
    }
  }
  .breadcrumbs_item {
    &:last-child {
      margin-right: 0;
      padding-right: 0;
      &:after {
        display: none;
      }
    }
  }
  .breadcrumbs_item:last-child .breadcrumbs_anchor {
    color: #1a1a1a;
  }
}
@media all and (max-width:1000px) {
  .breadcrumbs .breadcrumbs_item {
    margin-right: 6px;
    padding-right: 12px;
  }
  .breadcrumbs .breadcrumbs_anchor {
    font-size: 12px;
  }
}
@media all and (max-width:640px) {
  .breadcrumbs {
    display: none;
  }
}
/* 사이드 메뉴 */

.side {
  float: left;
  position: relative;
  z-index: 30;
  width: 250px;
  margin-top: 55px;
  margin-bottom: 80px;
  font-size: 0;
  line-height: 0;
  /* 사이트 타이틀 */
  .side_title {
    position: relative;
  }
  .side_subject {
    display: inline-block;
    position: relative;
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 16px;
    vertical-align: middle;
    color: #1a1a1a;
    font-size: 22px;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: 0.05em;
  }
  .menu .depth_text:after, .side_subject:before {
    background-image: url("../img/icon/menu_sprite.png");
    background-repeat: no-repeat;
    transition-property: none;
  }
  .side_subject{
    &:before{
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      width: 12px;
      height: 14px;
      background-position: left top;
    }
  }
  .side_menu {
    position: relative;
    margin-top: 42px;
  }
}
/* 링크 공통 */
.side .menu .depth_text[target='_blank']:after {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 12px;
  height: 12px;
  margin-top: auto;
  margin-bottom: auto;
  background-position: left 100%;
}
/* 2차 메뉴 */
.side{
  .menu .depth1_item {
    border: 1px solid #c5c9d6;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .menu .depth1_item + .depth1_item {
    margin-top: 5px;
  }
  .menu .depth1_text {
    display: block;
    position: relative;
    padding: 12px 50px 12px 20px;
    color: #444;
    font-size: 15px;
    font-family: $fontMid;
    font-weight: 200;
    line-height: 22px;
    text-decoration: none;
    word-break: keep-all;
    transition-property: background, color;
    &:after{
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 15px;
      margin-top: auto;
      margin-bottom: auto;
      font-size: 0;
    }
  }
  .menu .depth1_item.has .depth1_text:after {
    width: 9px;
    height: 5px;
    background-position: left 31.57%;
    content: '열기';
  }
  .menu .depth1_item.active .depth1_text:after {
    width: 9px;
    height: 5px;
    background-position: left 31.57%;
    content: '닫기';
  }
  .menu .depth1_text[target='_blank']:after {
    right: 15px;
  }
}

/* 2차 메뉴 활성화 */

.side .menu .depth1_item.active {
  position: relative;
  z-index: 10;
  border-color: #437dea;
}

.side .menu .depth1_item.active .depth1_text {
  background: #437dea;
  color: #fff;
}

.side .menu .depth1_item.active .depth1_text:hover {
  text-decoration: none;
}

.side .menu .depth1_item.has.active .depth1_text:after {
  background-position: left 51.31%;
}
/* 3차 메뉴 */

.side .menu .depth2 {
  transition-property: visibility, opacity, background-color;
}

.side .menu .depth2_list {
  padding-left: 20px;
  padding-right: 20px;
  transition-property: padding-top, padding-bottom;
}

.side .menu .depth2_item {
  margin-top: 0;
  transition-property: margin-top;
}

.side .menu .depth2_text {
  display: block;
  position: relative;
  padding-left: 11px;
  padding-right: 11px;
  font-weight: bold;
  word-break: keep-all;
  text-decoration: none;
  transition: none;
}

.side .menu .depth2_text:before {
  visibility: hidden;
  opacity: 0;
  display: none;
  position: absolute;
  top: 10px;
  left: 1px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #c5c9d6;
  transition-property: visibility, opacity;
}

.side .menu .depth2_text:hover {
  text-decoration: underline;
}

.side .menu .depth2_item.has .depth2_text:after {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin-top: auto;
  margin-bottom: auto;
  background-position: left 31.57%;
  transition-property: none;
}

.side .menu .depth2_text[target='_blank']:after {
  right: 0;
}
/* 3차 메뉴 활성화 */

.side .menu .depth1_item.active .depth2 {
  visibility: visible;
  opacity: 1;
}

.side .menu .depth1_item.active .depth2_list {
  margin-top: 12px;
  margin-bottom: 12px;
}

.side .menu .depth1_item.active .depth2_item {
  margin-top: 10px;
}

.side .menu .depth1_item.active .depth2_text {
  color: #444;
  font-size: 14px;
  line-height: 22px;
}

.side .menu .depth1_item.active .depth2_item.has .depth2_text:after {
  width: 10px;
  height: 10px;
}

.side .menu .depth1_item.active .depth2_item.has.active .depth2_text:after {
  background-position: left 71.05%;
}

.side .menu .depth1_item.active .depth2_text:before {
  visibility: visible;
  opacity: 1;
  display: block;
}

.side .menu .depth2_item.active .depth2_text {
  color: #111d68;
}

.side .menu .depth2_item.active .depth2_text:before {
  background-color: #232e73;
}
/* 4차 메뉴 */

.side .menu .depth3 {
  transition-property: visibility, opacity;
}

.side .menu .depth3_list {
  margin-top: 0;
  padding-top: 0;
  transition-property: margin-top, padding-top, margin-bottom, padding-bottom;
}

.side .menu .depth3_item {
  margin-top: 0;
  transition-property: margin-top;
}

.side .menu .depth3_text {
  position: relative;
  padding-left: 0;
  color: #5a5d6b;
  font-size: 0;
  line-height: 0;
  word-break: keep-all;
  transition: none;
}

.side .menu .depth3_text:before {
  visibility: hidden;
  opacity: 0;
  display: block;
  position: absolute;
  top: 11px;
  left: 10px;
  width: 0;
  height: 0;
  background-color: #c5c9d6;
  transition: none;
}

.side .menu .depth3_text[target='_blank']:after {
  top: 5px;
  bottom: auto;
  right: 5px;
}
/* 4차 메뉴 활성화 */

.side .menu .depth1_item.active .depth2_item.active .depth3 {
  visibility: visible;
  opacity: 1;
}

.side .menu .depth1_item.active .depth2_item.active .depth3_list {
  margin-top: 10px;
  padding: 10px 5px;
  background-color: #f4f5f9;
}

.side .menu .depth1_item.active .depth2_item.active .depth3_item {
  margin-top: 6px;
}

.side .menu .depth1_item.active .depth2_item.active .depth3_item:first-child {
  margin-top: 0;
}

.side .menu .depth1_item.active .depth2_item.active .depth3_text {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  color: #7d7d7d;
}

.side .menu .depth1_item.active .depth2_item.active .depth3_text:hover {
  text-decoration: underline;
}

.side .menu .depth1_item.active .depth2_item.active .depth3_text.active {
  color: #111d68;
  text-decoration: underline;
}

.side .menu .depth1_item.active .depth2_item.active .depth3_text:before {
  visibility: visible;
  opacity: 1;
  width: 5px;
  height: 1px;
}

.side .menu .depth1_item.active .depth2_item.active .depth3_item.active .depth3_text {
  color: #363c5a;
}

.side .menu .depth1_item.active .depth2_item.active .depth3_item.active .depth3_text:before {
  background-color: #111d68;
}
@media all and (max-width:1000px) {
  .side {
    display: none;
  }
}
/* 서브헤드 */

.sub_head .sub_info {
  position: relative;
  border-bottom: 3px solid #7a7d96;
}

.sub_head .sub_title {
  padding-top: 14px;
  padding-bottom: 40px;
  color: #1a1a1a;
  font-size: 30px;
  line-height: 32px;
  font-family: $fontMid;
}

.sub_head .sub_title h2 {
  font-weight: 600;
  letter-spacing: 0.06em;
}
@media all and (max-width:1000px) {
  .sub_head.padding_b_50 {
    padding-bottom: 30px !important;
  }

  .sub_head .sub_title {
    padding-bottom: 20px;
  }

  .sub_head .sub_title h2 {
    font-size: 24px;
    line-height: 26px;
  }
}
@media all and (max-width:640px) {
  .sub_head.padding_b_50 {
    padding-bottom: 20px !important;
  }

  .sub_head .sub_info {
    border-width: 2px;
  }

  .sub_head .sub_title {
    padding-top: 4px;
    padding-bottom: 14px;
  }

  .sub_head .sub_title h2 {
    font-size: 18px;
    line-height: 20px;
  }
}

.colgroup{float:right; position:relative; width:1100px; margin-top:43px;}
@media all and (max-width:1400px) {
	.colgroup{width:720px;}
}
@media all and (max-width:1000px) {
	.colgroup{float:none; width:auto; margin-top:16px;}
}

/* 콘텐츠 */
#contents{position:relative; min-height:600px; padding-top:50px; padding-bottom:80px;}
@media all and (max-width:1000px) {
	#contents{padding-top:30px; padding-bottom:60px;}
}
@media all and (max-width:640px) {
	#contents{min-height:300px; padding-top:20px; padding-bottom:30px;}
}
/* 공유하기, 인쇄 */

.addons {
  position: absolute;
  bottom: 35px;
  right: 0;
  z-index: 10;
  font-size: 0;
  line-height: 0;
}

.addons .addons_item {
  float: left;
  vertical-align: top;
}

.addons .addons_button {
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid #c5c9d6;
  border-radius: 13px;
  transition-property: border-color, background-color, box-shadow;
}

.addons .addons_button:before,
.addons .share_anchor:before,
.addons .share_close:before {
  background-image: url("../img/icon/share_sprite.png");
  background-repeat: no-repeat;
}

.addons .addons_button:before {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.addons .addons_button:hover {
  border-color: #363c5a;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(17,29,104,0.15);
}

.addons .share {
  position: relative;
  margin-right: 10px;
}

.addons .share .addons_button:before {
  width: 15px;
  height: 16px;
  background-position: left top;
}

.addons .share .addons_button:hover:before {
  background-position: left 17.68%;
}

.addons .share_panel {
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 220px;
  padding-right: 40px;
  border: 1px solid #363c5a;
  border-radius: 13px;
  background-color: #fff;
  text-align: center;
  transition-property: visibility, opacity;
}

.addons .share_item {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.addons .share_item + .share_item:before {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1px;
  height: 14px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #e5e7ee;
}

.addons .share_anchor {
  display: block;
  position: relative;
  width: 35px;
  height: 38px;
}

.addons .share_item.url .share_anchor {
  font-size: 12px;
  font-weight: 400;
  color: #363c5a;
  line-height: 38px;
}

.addons .share_item.url .share_anchor:before {
  display: none;
}

.addons .share_anchor:before {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.addons .share_item.n1 .share_anchor:before {
  width: 8px;
  height: 15px;
  background-position: left 35.13%;
}

.addons .share_item.n2 .share_anchor:before {
  width: 11px;
  height: 14px;
  background-position: left 51.67%;
}

.addons .share_item.n3 .share_anchor:before {
  width: 7px;
  height: 15px;
  background-position: left 68.24%;
}

.addons .share_item.n4 .share_anchor:before {
  width: 19px;
  height: 17px;
  background-position: left 86.3%;
}

.addons .share_item.url .share_anchor:before {
  display: none;
}

.addons .share_item:hover .share_anchor:before {
  background-image: url("../img/icon/share_hover_sprite.png");
}

.addons .share_item.n1:hover .share_anchor:before {
  background-position: right 35.13%;
}

.addons .share_item.n2:hover .share_anchor:before {
  background-position: right 51.67%;
}

.addons .share_item.n3:hover .share_anchor:before {
  background-position: right 68.24%;
}

.addons .share_item.n4:hover .share_anchor:before {
  background-position: right 86.3%;
}

.addons .share_item #url_copy * {
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1px;
  height: 1px;
  border: 0;
  background: transparent;
}

.addons .share_close {
  visibility: hidden;
  opacity: 0;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 38px;
}

.addons .share_close:before {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 11px;
  height: 10px;
  margin: auto;
  background-repeat: no-repeat;
  background-position: left 100%;
}

.addons .print .addons_button:before {
  width: 17px;
  height: 16px;
  background-image: url("../img/icon/print_sprite.png");
  background-position: left top;
}

.addons .print .addons_button:hover:before {
  background-position: left 100%;
}
/* 활성화 */

.addons .share.active .share_panel {
  visibility: visible;
  opacity: 1;
}

.addons .share.active .share_close {
  visibility: visible;
  opacity: 1;
}
@media all and (max-width:1000px) {
  .addons {
    bottom: 16px;
  }

  .addons .addons_button {
    width: 36px;
    height: 36px;
    border-radius: 10px;
  }

  .addons .share_panel {
    border-radius: 10px;
  }

  .addons .share_anchor,
  .addons .share_close {
    height: 34px;
  }

  .addons .share_item.url .share_anchor {
    line-height: 34px;
  }
}
@media all and (max-width:640px) {
  .addons {
    bottom: 12px;
  }

  .addons .addons_button:before,
  .addons .share_anchor:before {
    background-size: 42px auto;
  }

  .addons .share .addons_button:before {
    width: 15px;
    height: 15px;
  }

  .addons .share_item.n1 .share_anchor:before {
    width: 7px;
    height: 13px;
  }

  .addons .share_item.n2 .share_anchor:before {
    width: 10px;
    height: 12px;
  }

  .addons .share_item.n3 .share_anchor:before {
    width: 6px;
    height: 13px;
  }

  .addons .share_item.n4 .share_anchor:before {
    width: 16px;
    height: 15px;
  }

  .addons .print .addons_button:before {
    width: 14px;
    height: 13px;
    background-size: 36px auto;
  }

  .addons .addons_button {
    width: 26px;
    height: 26px;
    border-radius: 8px;
  }

  .addons .share_panel {
    width: 195px;
    padding-right: 30px;
    border-radius: 10px;
  }

  .addons .share_anchor,
  .addons .share_close {
    width: 32px;
    height: 26px;
  }

  .addons .share_item.url .share_anchor {
    font-size: 11px;
    line-height: 26px;
  }

  .addons .share_anchor {
    width: 32px;
  }
}
